<div class="container">
  <h1>Tech Talent South Family</h1>

  <div class="row">

      <% @members.shuffle.each do |member| %>
        <div class="tile span3">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <%= image_tag(member.image_url) if member.image.present? %>
              </div>
              <div class="back">
                <center>
                  <h3 style="color: white;"><%= member.name %></h3>
                  <h4 style="color: white;"><%= member.occupation %></h4>
                  <h4 style="color: white;"><%= member.employer %></h4>
                  <br>
                  <%= member.description %>
                </center>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

