<div class="container">
  <h1>The Tech Talent South Family</h1>
  <p>Just like the old saying "It takes a village to raise a child," we belive it takes a community to teach people how to code and immerse them in the world of tech. Below is everyone who has ever had a hand in helping our students learn to program through Tech Talent South!</p>

  <div class="row">

    <% @members.shuffle.each do |member| %>
      <div id="<%= member.to_param %>" class="modal hide fade in" style="display: none; ">  
        <div class="modal-body">  
                <center>  
                  <%= image_tag(member.image_url) if member.image.present? %>
                  <h3><%= member.name %></h3>
                  <h4><%= member.occupation %></h4>
                  <h4><%= member.employer %></h4>
                  <br>
                  <%= member.description %>
                </center>                
        </div>  
        <div class="modal-footer">   
          <a href="#" class="btn" data-dismiss="modal">Close</a>  
        </div>  
      </div>
      <div class="span1">
        <a data-toggle="modal" href="#<%= member.to_param %>">
          <%= image_tag(member.image_url) if member.image.present? %>
        </a>
      </div>
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</div>

