<div class="container">
  <h1>The Tech Talent South Family</h1>
  <p>Just like the old saying "It takes a village to raise a child," we belive it takes a community to teach people how to code and immerse them in the world of tech. Below is everyone who has ever had a hand in helping our students learn to program through Tech Talent South!</p>

  <div class="row">

      <% @members.shuffle.each do |member| %>
        <div class="tile span1">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <%= image_tag(member.image_url) if member.image.present? %>
              </div>
              <div class="back">
                <center>
                  <h3 style="color: white;"><%= member.name %></h3>
                  <h4 style="color: white;"><%= member.occupation %></h4>
                  <h4 style="color: white;"><%= member.employer %></h4>
                  <br>
                  <%= member.description %>
                </center>
              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>

