<div class="container">
  <h1>The Tech Talent South Family</h1>
  <p>Just like the old saying "It takes a village to raise a child," we belive it takes a community to teach people how to code and immerse them in the world of tech. Below is a handful of people that have been involved with Tech Talent South along the way, from studetns, to staff, to guest lecturers, we consider them all family!</p>

  <div class="row-fluid"> 
    <div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
      <%= image_tag "loading.gif", class: "ri-loading-image" %>
        <ul>
          <% @members.each do |member| %>
            <li>
              <div id="<%= member.uniq_identifier %>" class="modal hide fade in" style="display: none; ">  
                <div class="modal-body">  
                        <center>  
                          <%= image_tag(member.image_url) if member.image.present? %>
                          <h3><%= member.name %></h3>
                          <h4><%= member.occupation %></h4>
                          <h4><%= member.employer %></h4>
                          <br>
                          <%= member.description %>
                        </center>                
                </div>  
                <div class="modal-footer">   
                  <a href="#" class="btn" data-dismiss="modal">Close</a>  
                </div>  
              </div>
              <!-- <div class="span1 small_tile" style="margin: .5px;"> -->
                <a data-toggle="modal" href="#<%= member.uniq_identifier %>">
                  <%= image_tag(member.image_url) if member.image.present? %>
                </a>
              <!-- </div> -->
            </li>
          <% end %>
    </ul>
    </div>

    <br><br><br><br><br>

  </div>
</div>

<%= javascript_include_tag "gridrotator" %>
    <script type="text/javascript"> 
      $(function() {


      
        $( '#ri-grid' ).gridrotator( {

          rows : 4,
          columns : 15,
          preventClick :false,
          interval        : 2000,


          w320 : {
            rows : 3,
            columns : 4
          },
          w240 : {
            rows : 3,
            columns : 3
          }
        } );
      
      });
    </script>

